{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block help_link %}user/management/catalog/categories.html{% endblock %}

{% block section %}add-category{% endblock %}
{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add Category' %}</a></li>
        </ul>
        <div id="data">
            <h2>{% trans "Data" %}</h2>
            <form method="post">
                {% csrf_token %}
                <table>
                    {% include "manage/lfs_form.html" %}
                </table>

                <div class="buttons">
                    <input type="submit"
                           class="button"
                           value="{% trans 'Add category' %}" />
                    <input type="button"
                           class="button"
                           onclick="window.location='{{ came_from }}'"
                           value="{% trans 'Cancel' %}" />
                </div>
            </form>
        </div>
    </div>
    <script>
            $(function() {
                var ids = '#id_name'
                var l = TRANSLATION_LANGUAGES.length;
                for (var i=0; i<l; i++){
                    var lang = TRANSLATION_LANGUAGES[i];
                    ids += ',#id_name_' + lang;
                }

                $(ids).on("keyup", function() {
                    var $this = $(this);
                    var slug = $this.val()
                    slug = URLify(slug, 200);
                    var id = $this.attr('id');
                    var slug_id = '#id_slug';
                    if (id != 'id_name'){
                        var spl = id.split('_');
                        slug_id = '#id_slug_' + spl[spl.length - 1];
                    }
                    $(slug_id).val(slug);
                });
            });
        </script>
{% endblock %}
