{% load i18n lfs_modeltranslation_tags %}

<h2>{% trans 'Data' %}</h2>

<form action="{% url lfs_manage_category_edit_data category.id %}"
      method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "General" %}</legend>
        <div class="field">
            <div class="label">
                {{ form.exclude_from_navigation.label_tag }}:
            </div>
            <div>
                {{ form.exclude_from_navigation }}
            </div>
        </div>
        {% translatedfields form "name" %}
            <div class="field">
                <div class="label">
                {{ translated_field.label_tag }}:
                </div>
            {% if translated_field.errors %}
                <div class="error">
                    {{ translated_field }}
                    {{ translated_field.errors }}
                    </div>
                {% else %}
                    <div>
                    {{ translated_field }}
                    </div>
                {% endif %}
            </div>
        {% endtranslatedfields %}

        {% translatedfields form "slug" %}
            <div class="field">
                <div class="label">
                    {{ translated_field.label_tag }}:
                </div>
                {% if translated_field.errors %}
                    <div class="error">
                        {{ translated_field }}
                        {{ translated_field.errors }}
                    </div>
                {% else %}
                    <div>
                        {{ translated_field }}
                    </div>
                {% endif %}
            </div>
        {% endtranslatedfields %}
    </fieldset>
    {% translatedfields form "short_description" %}
        <div class="field">
            <div class="label">
                {{ translated_field.label_tag }}:
            </div>
            {% if translated_field.errors %}
                <div class="error">
                    {{ translated_field }}
                    {{ translated_field.errors }}
                </div>
            {% else %}
                <div>
                    {{ translated_field }}
                </div>
            {% endif %}
        </div>
    {% endtranslatedfields %}
    {% translatedfields form "description" %}
        <div class="field">
            <div class="label">
                {{ translated_field.label_tag }}:
            </div>
            {% if translated_field.errors %}
                <div class="error">
                    {{ translated_field }}
                    {{ translated_field.errors }}
                </div>
            {% else %}
                <div>
                    {{ translated_field }}
                </div>
            {% endif %}
        </div>
    {% endtranslatedfields %}
    <fieldset>
        <legend>{% trans "Appearance" %}</legend>
            {% translatedfields form "image" %}
                <div class="field">
                    <div class="label">
                        {{ translated_field.label_tag }}
                    </div>
                    {% if translated_field.errors %}
                        <div class="error">
                            {{ translated_field }}
                            {{ translated_field.errors }}
                        </div>
                    {% else %}
                        <div>
                            {{ translated_field }}
                        </div>
                    {% endif %}
                </div>
            {% endtranslatedfields %}
            <div class="field">
                <div class="label">
                    {{ form.static_block.label_tag }}:
                </div>
                {% if form.static_block.errors %}
                    <div class="error">
                        {{ form.static_block }}
                        {{ form.static_block.errors }}
                    </div>
                {% else %}
                    <div>
                        {{ form.static_block }}
                    </div>
                {% endif %}
            </div>
    </fieldset>

    <div class="buttons">
        <input value="{% trans 'Save data' %}"
               type="submit"
               class="ajax-save-button button"/>
    </div>
</form>
