{% load i18n lfs_modeltranslation_tags %}

<h2 class="heading-middle">{% trans 'Select field options' %}</h2>
<form id="shop-property-options-form"
      action="{% url 'lfs_add_shop_property_option' property.id %}"
      method="post">
    {{ form.non_field_errors }}
    <table>
        <tr>
            <th>
                {% trans 'Position' %}
            </th>
            <th>
                {% trans 'Name' %}
            </th>
            <th>
                {% trans 'Price' %}
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                {{ form.position.errors }}
                {{ form.position }}
            </td>
            <td>
                {% translatedfields form "name" %}
                    <div class="translated-field">
                        {{ translated_field.errors }}
                        {% if uses_modeltranslation %}<div class="label">{{ translation_language }}:</div> {% endif %}{{ translated_field }}
                    </div>
                {% endtranslatedfields %}
            </td>
            <td>
                {{ form.price.errors }}
                {{ form.price }}
            </td>
            <td>
                <input type="submit"
                       value="{% trans 'Add option' %}"
                       name="add"
                       class="ajax-save-button button" />
            </td>
        </tr>
        {{ formset.management_form }}
        {% for form in formset %}
            {% if form.non_field_errors %}
                <tr>
                    <td colspan="3">{{ form.non_field_errors }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    {{ form.position.errors }}
                    {{ form.position }}
                    {{ form.id }}
                </td>
                <td>
                    {% translatedfields form "name" %}
                        <div class="translated-field">
                            {{ translated_field.errors }}
                            {% if uses_modeltranslation %}<div class="label">{{ translation_language }}:</div> {% endif %}{{ translated_field }}
                        </div>
                    {% endtranslatedfields %}
                </td>
                <td>
                    {{ form.price.errors }}
                    {{ form.price }}
                </td>
                <td>
                    <a class="delete-link"
                       dialog_message="{% trans 'Do you really want to delete this option?' %}"
                       href="{% url 'lfs_delete_shop_property_option' option.id %}">
                        <img src="{{ STATIC_URL }}lfs/icons/cross.png"
                             alt="{% trans 'Delete' %}"
                             title="{% trans 'Delete option' %}" />
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="buttons">
        <input type="submit"
               value="{% trans 'Update options' %}"
               name="update"
               class="ajax-save-button button" />
    </div>
</form>
